.Main{
    background-image: url('https://www.idfcfirstbank.com/content/dam/idfcfirstbank/images/business-banking-hp/DoorstepBanking.jpg');
    height: 580px;
    width:1350px
}

p{
    font-size: xx-large;
    font-style: oblique;
}