.Registrtn{
  
    width:500px;
    min-height: 400px;
  display: inline-block;
  position: relative;
  background-color: black;
  left: 400px;
  top:100px;
  padding:20px;

}

.Regisnew{
    display: flex;
    align-items: center;
    justify-content: centre;
    background-color: white;
}

.Registrtn input{
display: inherit;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

h1{
    display: flex;
    text-align: center;
      margin-bottom: 30px;
      color: red;
}

.RegisIpt{
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
}

.Regisbtn{
    
    padding: 8px;
   
    background-color:red;
    border: none;
    color: green;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

.Registrtn h1{
    text-align: center;
    font-size:30px;
}

.Regisbtn:hover{
    background-color: green;
    color: red;
}

.regi-label{
    color: blue;
    font-family: sans-serif;
}